/* setting */

:root {
    --nav-item: white;
    --back-item-nav: rgba(255, 255, 255,0.1);
    --back-item-nav-hover: rgba(255, 255, 255,0.3);
    --background: rgb(13, 158, 13);
    --text-bot: black;
    --bot: yellow;
    --bot-hover: rgb(184, 184, 0);
    --bot-s: rgb(65, 65, 255);
    --bot-s-hover: rgb(55, 55, 214);
    --bot-h: rgb(255, 65, 65);
    --bot-h-hover: rgb(214, 55, 55);
    --hefz: #0e1756;
    --orange: orange;
}

body {
    background:var(--background);
    font-family: b nazanin;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* nav */

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    text-decoration: none;
    color: var(--nav-item);
    background: var(--back-item-nav);
    margin: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.nav-item:hover {
    background: var(--back-item-nav-hover);
    transform: translateY(-0.2rem);
}

.bot-admin {
    display: flex;
    flex-direction: left;
    text-align: center;
    border: solid;
    border-radius: 1rem;
    transition: 0.3s;
    width: 10rem;
    align-items: left;
    margin-top: 10px;
}

.bot-admin:hover {
    background: var(--back-item-nav-hover);
    transform: translateY(-0.2rem);
}

/* index.html */

.logo {
    width: 30rem;
    border-radius: 10px;
}

.bot {
    text-decoration: none;
    color: var(--text-bot);
    background: var(--bot);
    font-size: 2rem;
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
}

.bot:hover {
    background: var(--bot-hover);
    transform: translateY(-0.2rem);
}

@media only screen and (max-width: 580px){
    .navbar {
        flex-direction: column;
    }

    .nav-item , .nav-activ {
        width: max-content;
    }

    .logo {
        width: 20rem;
    }
}

/* meno */

.meno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.meno h1 {
    padding: 2rem;
}

h1,h2 {
    font-size: 2rem;
    margin: 0;
}

.meno-items {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: space-evenly;
    align-content: space-between;
}

.meno-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
    margin: 3rem 0;
}

.meno-item:hover {
    transform: scale(1.02);
}

.meno-item-text {
    background-color: var(--nav-item);
    color: var(--text-bot);
    text-align: center;
    border-radius: 2rem;
    padding: 1rem;
    box-sizing: border-box;
}

.meno-item-text p {
    font-size: 1.5rem;
}

.meno-item-img {
    border-radius: 2rem;
    margin-bottom: -5rem;
}

@media only screen and (max-width:992px) {
    .meno-items {
        grid-template-columns: 40% 40%;
    }
}

@media only screen and (max-width:600px) {
    .meno-items {
        grid-template-columns: 60%;
    }
}

@media only screen and (max-width:400px) {
    .meno-items {
        grid-template-columns: 90%;
    }
}

.meno-link {
    text-decoration: none;
}

/* about */

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0;
}

.about-img {
    width: 40%;
    border-radius: 5rem;
}

.about-text {
    width: 80%;
    align-items: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.about-text p {
    text-align: justify;
    font-size: 2rem;
}

@media only screen and (max-width:992px) {
    .about {
        flex-direction: column;
        padding: 2rem 0;
    }

    .about-img ,
    .about-text {
        width: 90%;
    } 
}

/* tamas and buy */

.pooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 0;
}

.footer h2 {
    font-size: 2rem;
}

.tamas {
    width: 40%;
    height: 25rem;
    padding: 2rem;
    background-color: var(--nav-item);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center ;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.tamas1 {
    width: 40%;
    height: 15rem;
    padding: 2rem;
    background-color: var(--nav-item);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center ;
    border-radius: 1rem;
}

.tamas2 {
    width: 40%;
    height: 40rem;
    padding: 2rem;
    background-color: var(--nav-item);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center ;
    border-radius: 1rem;
}

.form {
    width: 40%;
    height: 50rem;
    padding: 2rem;
    background-color: var(--nav-item);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center ;
    border-radius: 1rem;
}

.form1 {
    width: 40%;
    height: 25rem;
    padding: 2rem;
    background-color: var(--nav-item);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center ;
    border-radius: 1rem;
}


@media only screen and (max-width: 768px) {
    .pooter {
        flex-direction: column;
    }

    .tamas,
    .tamas1,
    .tamas2,
    .form,
    .form1 {
        width: 80%;
        margin-bottom: 2rem;
    }
}


.input {
    border: none;
    background-color: var(--bot);
    color: var(--text-bot);
    padding: 1rem;
    box-sizing: border-box;
    text-indent: 1rem;
    border-radius: 1rem;
    width: 90%;
    font-size: 1.5rem;
    font-family: b nazanin;
}

.input-text {
    width: 90%;
    height: 100px;    
    resize: vertical;
    min-height: 120px;
}

.form-bot-s {
    border: none;
    color: var(--nav-item);
    background-color: var(--bot-s);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
}

.form-bot-h {
    border: none;
    color: var(--nav-item);
    background-color: var(--bot-h);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
}

.form-bot-s:hover {
    transform: translateY(-0.2rem);
    background-color: var(--bot-s-hover);
}

.form-bot-h:hover {
    transform: translateY(-0.2rem);
    background-color: var(--bot-h-hover);
}

.tamas a {
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: var(--text-bot);
    font-size: 1.5rem;
    border: solid;
    padding: 8px 8px;
    border-radius: 15px;
    background-color: var(--bot);
    border-color: var(--bot);
    transition: 0.3s;
}

.tamas a:hover {
    background: var(--bot-hover);
    border-color: var(--bot-hover);
    transform: translateY(-0.2rem);
}

.admin {
    text-decoration: none;
    text-align: center;
    border: solid;
    background-color: var(--bot-s);
    color: var(--nav-item);
    border-radius: 15px;
}

.admin1 {
    border: none;
    color: var(--nav-item);
    background-color: var(--bot-s);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
}

.admin1:hover {
    transform: translateY(-0.2rem);
    background-color: var(--bot-s-hover);
}

.tamas1 a {
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: var(--nav-item);
    font-size: 1.5rem;
    border: solid;
    padding: 8px 8px;
    border-radius: 15px;
    background-color: var(--bot-s);
    border-color: var(--bot-s);
    transition: 0.3s;
}

.tamas1 a:hover {
    background: var(--bot-s-hover);
    border-color: var(--bot-s-hover);
    transform: translateY(-0.2rem);
}

.tamas1 a {
    font-size: 1.5rem;
    margin-top: 2rem;
}        

.tamas1 p {
    font-size: 1.5rem;
}

.tamas2 p {
    font-size: 1.5rem;
}

/* up */

.up img {
    width: 60px;
    border-radius: 50%;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
}

/* footer */

footer {
    padding: 0px;
    margin-top: 20px;
    color: var(--nav-item);
    background-color: var(--hefz);
    text-align: center;
}

.matns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;    
}

.matn {
    padding: 1.5rem 1rem;
}   

.p {
    font-size: 1.5rem;
}

.bot-end {
    text-decoration: none;
    color: var(--text-bot);
    background: var(--bot);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;        
    transition: 0.3s;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bot-end:hover {
    background: var(--bot-hover);
    transform: translateY(-0.2rem);
}

.matn p {
    text-align: center;
    font-size: 1.5rem;
}

.navbar1 {
    margin-top: 20px;
}

.navbar1 a {
    margin-right: 2rem;
    margin-top: 2rem;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    background-color: var(--bot-h);
    border-color: var(--bot-h);
    color: var(--nav-item);
    transition: 0.3s;
    padding: 1rem 1rem;
    font-size: 1.7rem;
}

.message {
    position: fixed;
    width: 40%;
    background: var(--orange);
    color: var(--nav-item);
    padding: 1.5rem;
    border-radius: 5px;
    display: none;
    bottom: 2rem;
    align-items: center;
    text-align: center;
}

.message p {
    font-size: 2rem;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .pooter {
        flex-direction: column;
    }

    .message {
        width: 80%;
    }
}

.message-box {
    position: fixed;
    display: none;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--orange);
    color: var(--nav-item);
    padding: 20px;
    border-radius: 10px;
    font-size: 2rem;
}